{
  "plugins": ["prettier-plugin-go-template"],
  "bracketSameLine": true,
  "goTemplateBracketSpacing": true,
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "options": {
        "parser": "go-template",
        "bracketSameLine": true
      }
    }
  ]
}
